.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__btn {
    margin-bottom: 3rem;
    width: 60%;
    text-align: center;
  }

  &__total {
    text-transform: capitalize;
    margin-bottom: 3rem;
  }
}
