.register {
  margin-top: 2rem;

  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;

  &__btn {
    background-color: transparent;
    border: none;
    color: var(--blue);
    margin-left: 2rem;

    &:focus {
      outline: none;
    }
  }
}
