.productDetail {
  display: flex;
  gap: 1rem;
  background-color: var(--grey);
  align-items: center;

  & > * {
    width: 50%;

    @media screen and (max-width: 50em) {
      width: 80%;
    }
  }

  @media screen and (max-width: 50em) {
    flex-direction: column;
  }

  &__img {
    height: 40rem;
    object-fit: contain;
    margin-bottom: 2rem;
  }

  &__info {
    display: grid;
    row-gap: 1rem;
    align-items: center;
    justify-items: center;
  }

  &__btn {
    justify-self: stretch;
  }
}
