.product {
  text-align: center;
  box-shadow: var(--shadow);
  transition: var(--transition);
  padding: 2rem 1rem;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(8, 5rem);
  row-gap: 1rem;

  &:hover {
    transform: translateY(-3px);
  }

  &__img-container {
    position: relative;
    grid-row: 1 / 6;
    align-self: stretch;
    justify-self: stretch;
  }
  &__img {
    width: 100%;
    height: 100%;
    transition: var(--transition);
    object-fit: contain;
  }

  &__title {
    font-size: 2rem;
    grid-row: 6 / 7;
  }

  &__price {
    font-weight: 600;
    grid-row: 7 / 8;
  }
  &__btn {
    grid-row: 8 / -1;
    justify-self: stretch;
  }
}
