:root {
  --dark: #1b262c;
  --grey: #eee;
  --grey-1: #ddd;
  --grey-2: #d3d6db;
  --grey-3: #929aab;
  --blue: #0779e4;
  --red: #d92027;

  --transition: all 0.3s;
  --shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

section {
  margin-top: 4rem;
  padding: 10rem;
}

.section-home {
  padding: 0;
}

.section-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.section-about {
  margin: 0 auto;
  width: 80%;
}

.btn {
  text-transform: capitalize;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: var(--transition);
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 2rem;
  border: none;
}

.btn-primary {
  background-color: var(--dark);
  color: var(--grey-1);
  outline: 1px solid var(--grey);

  &:hover {
    background-color: var(--grey-2);
    outline: 1px solid var(--dark);
    color: var(--dark);
  }
}

.btn-secondary {
  background-color: #fff;
  color: var(--dark);
  outline: 1px solid var(--dark);

  &:hover {
    background-color: var(--dark);
    color: var(--grey-1);
    outline: 1px solid var(--grey);
  }
}

.heading--1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 6rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.heading--3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3.5rem;
  font-weight: 900;
}

.heading--4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: show;
}
