:root {
  --dark: #1b262c;
  --grey: #eee;
  --grey-1: #ddd;
  --grey-2: #d3d6db;
  --grey-3: #929aab;
  --blue: #0779e4;
  --red: #d92027;

  --transition: all 0.3s;
  --shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 75em) {
    font-size: 56.25%;
  }

  @media screen and (max-width: 50em) {
    font-size: 50%;
  }

  @media screen and (max-width: 37.5em) {
    font-size: 43.75%;
  }
}

*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-color: var(--grey);
}

section {
  margin-top: 4rem;
  padding: 5rem;

  @media screen and (max-width: 37.5em) {
    padding: 2rem;
  }
}

.section-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.section-home {
  padding: 0;
}

.section-about {
  width: 80%;
  margin: 4rem auto;
}

.form {
  width: 60%;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__label {
    text-transform: capitalize;
    margin-left: 2rem;
    color: var(--grey-3);
    opacity: 1;
    transition: var(--transition);
    font-size: 1.5rem;
    display: block;
  }

  &__input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
    transition: var(--transition);

    &:focus {
      outline: 2px solid var(--blue);

      &:invalid {
        outline: 2px solid var(--red);
      }
    }
  }

  &__btn {
    width: 100%;
  }
}

.form-control__input:placeholder-shown + .form-control__label {
  opacity: 0;
  transform: translateY(-0.5rem);
}

.btn {
  text-transform: capitalize;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: var(--transition);
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 2rem;
  border: none;

  @media screen and (max-width: 37.5em) {
    font-size: 1.5rem;
  }
}

.btn-primary {
  background-color: var(--dark);
  color: var(--grey-1);
  outline: 1px solid var(--grey);

  &:hover {
    background-color: var(--grey-2);
    outline: 1px solid var(--dark);
    color: var(--dark);
  }
}

.btn-secondary {
  background-color: #fff;
  color: var(--dark);
  outline: 1px solid var(--dark);

  &:hover {
    background-color: var(--dark);
    color: var(--grey-1);
    outline: 1px solid var(--grey);
  }
}

.heading--1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 6rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: capitalize;

  @media screen and (max-width: 37.5em) {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}

.heading--3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3.5rem;
  font-weight: 900;

  @media screen and (max-width: 37.5em) {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.heading--4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 37.5em) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.hide {
  visibility: hidden;
}

.show {
  visibility: show;
}
